<div class="flex flex-row mt-80 fixed">
  <ul class="bg-[#6e07f3] w-[50px] h-[150px]">
    <li class="py-4 pl-2 transition-all hover:scale-125">
      <a href="https://www.facebook.com/beka.chkhartishvili" target="_blank"
        ><svg
          xmlns="http://www.w3.org/2000/svg"
          width="24"
          height="24"
          viewBox="0 0 24 24"
          fill="none"
          stroke="none"
          stroke-width="2"
          stroke-linecap="round"
          stroke-linejoin="round"
          class="feather feather-facebook fill-white"
        >
          <path
            d="M18 2h-3a5 5 0 0 0-5 5v3H7v4h3v8h4v-8h3l1-4h-4V7a1 1 0 0 1 1-1h3z"
          ></path></svg
      ></a>
    </li>
    <li class="py-2 pl-2 transition-all hover:scale-125">
      <a href="https://github.com/crackbeka" target="_blank"
        ><svg
          xmlns="http://www.w3.org/2000/svg"
          width="24"
          height="24"
          viewBox="0 0 24 24"
          fill="none"
          stroke="none"
          stroke-width="2"
          stroke-linecap="round"
          stroke-linejoin="round"
          class="feather feather-github fill-white"
        >
          <path
            d="M9 19c-5 1.5-5-2.5-7-3m14 6v-3.87a3.37 3.37 0 0 0-.94-2.61c3.14-.35 6.44-1.54 6.44-7A5.44 5.44 0 0 0 20 4.77 5.07 5.07 0 0 0 19.91 1S18.73.65 16 2.48a13.38 13.38 0 0 0-7 0C6.27.65 5.09 1 5.09 1A5.07 5.07 0 0 0 5 4.77a5.44 5.44 0 0 0-1.5 3.78c0 5.42 3.3 6.61 6.44 7A3.37 3.37 0 0 0 9 18.13V22"
          ></path></svg
      ></a>
    </li>
    <li class="py-2 pl-2 transition-all hover:scale-125">
      <a
        href="https://www.linkedin.com/in/beka-chkhartishvili-124307232/"
        target="_blank"
        ><svg
          xmlns="http://www.w3.org/2000/svg"
          width="24"
          height="24"
          viewBox="0 0 24 24"
          fill="none"
          stroke="none"
          stroke-width="2"
          stroke-linecap="round"
          stroke-linejoin="round"
          class="feather feather-linkedin fill-white"
        >
          <path
            d="M16 8a6 6 0 0 1 6 6v7h-4v-7a2 2 0 0 0-2-2 2 2 0 0 0-2 2v7h-4v-7a6 6 0 0 1 6-6z"
          ></path>
          <rect x="2" y="9" width="4" height="12"></rect>
          <circle cx="4" cy="4" r="2"></circle></svg
      ></a>
    </li>
  </ul>
</div>

<section class="w-[80%] m-auto">
  <div class="flex flex-row my-4 w-[60%] m-auto border-b-blue-600 border-b-2">
    <div class="my-4 m-auto">
      <h1 class="text-4xl my-4">Frontend Developer</h1>
      <img class="pl-6" src="../assets/images/mf-avatar.svg" />
      <div class="text-center mt-4 pr-8">
        <a
          href="https://drive.google.com/file/d/1ou1376UHi29zPcibRgIzbYzgzq4FKfCN/view?usp=sharing"
          target="_blank"
        >
          <button
            type="button"
            class="items-center px-3.5 py-2.5 border border-transparent text-xs font-medium rounded shadow-sm text-white bg-indigo-600 hover:bg-indigo-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500"
          >
            DOWNLOAD CV
          </button>
        </a>
      </div>
    </div>
  </div>
  <div class="mt-4">
    <img
      style="width: 100%; height: 400px"
      src="../assets/images/hero-devices.svg"
    />
  </div>
</section>

<section class="w-full h-96 bg-[#6e07f3]">
  <div class="w-[40%] m-auto">
    <div class="pt-16 text-white">
      <h1 class="text-4xl text-center pb-4">Hi, I’m Beka. Nice to meet you.</h1>
      <h2 class="text-xl">
        Since beginning my journey as a Developer over 1 years ago, consulted
        for startup, and perpetually working on improving my chops on developer
        problem at a time.
      </h2>
    </div>
  </div>
</section>
<section
  class="w-[60%] m-auto border-2 rounded-lg h-[700px] -translate-y-1/4 bg-white"
>
  <div class="w-[50%] m-auto">
    <div class="w-[20%] m-auto my-4">
      <img
        src="../assets/images/images.png"
        style="width: 100px; height: 100px"
      />
    </div>
    <div class="py-4">
      <h1 class="text-3xl text-center my-2">Frontend Developer</h1>
      <p class="text-center">
        I like to code things from scratch, and enjoy bringing ideas to life in
        the browser.
      </p>
    </div>
    <div class="my-4">
      <p class="text-lg text-[#6e07f3] text-center mb-2">Languages I Speak:</p>
      <p class="text-center">
        Georgian(Native) , English(B1-B2) , Russian(A2-B1)
      </p>
    </div>
    <div class="my-4">
      <p class="text-lg text-[#6e07f3] text-center mb-2">Skills:</p>
      <p class="text-center">
        HTML, CSS, Sass, Javascript , Typescript , Angular , Git
      </p>
    </div>
    <div>
      <p class="text-lg text-[#6e07f3] text-center">Developer Tools:</p>
      <ul class="text-center leading-6">
        <li>Bootstrap</li>
        <li>Github</li>
        <li>Tailwind</li>
        <li>Terminal</li>
      </ul>
    </div>
  </div>
</section>

<section class="w-[60%] m-auto flex justify-between">
  <div class="grid grid-cols-3 gap-4 my-4">
    <div class="transition-all hover:scale-125">
      <a href="https://github.com/crackbeka/Final-project" target="_blank">
        <img class="rounded-xl" src="../assets/images/burkettandco.png" />
        <p class="text-center">
          A powerful, easy-to-configure form backend for designers and
          developers.
        </p>
      </a>
    </div>

    <div class="transition-all hover:scale-125">
      <a href="https://github.com/crackbeka/HeroApp" target="_blank">
        <img class="rounded-xl" src="../assets/images/chronicled.png" />
        <p class="text-center">
          Short, focused design and growth collabs for startup tech founders.
        </p>
      </a>
    </div>
    <div>
      <div class="transition-all hover:scale-125">
        <a href="https://github.com/crackbeka/travel-more" target="_blank">
          <img class="rounded-xl" src="../assets/images/coupal.png" />
          <p class="text-center py-2">
            Intelligent API solution for automatic spam protection without the
            manual work.
          </p>
        </a>
      </div>
    </div>
    <div>
      <div class="transition-all hover:scale-125">
        <a href="https://github.com/crackbeka/Crocobet-project" target="_blank">
          <img class="rounded-xl" src="../assets/images/glcsolutions.png" />
          <p class="text-center py-2">
            A people-friendly content publishing platform that integrates with
            any tech stack.
          </p>
        </a>
      </div>
    </div>
    <div
      class="column is-12-touch is-half-desktop is-one-third-widescreen level-item"
    >
      <div class="transition-all hover:scale-125">
        <a
          href="https://github.com/crackbeka/JSON-Placeholder-Project"
          target="_blank"
        >
          <img
            class="rounded-xl"
            src="../assets/images/wedlerengineering.png"
          />
          <p class="text-center py-2">
            Next level plug and play chassis systems for custom DIY lightsaber
            builds.
          </p>
        </a>
      </div>
    </div>
    <div
      class="column is-12-touch is-half-desktop is-one-third-widescreen level-item"
    >
      <div class="box transition-all hover:scale-125">
        <a href="https://github.com/crackbeka/Angular-Material" target="_blank">
          <img class="rounded-xl" src="../assets/images/wfdesignbuild.png" />
          <p class="text-center py-2">
            Simple feedback and engagement tools that help teams ship winning
            products.
          </p>
        </a>
      </div>
    </div>
  </div>
</section>

<footer class="w-full h-[250px] mt-10 bg-[#6e07f3]">
  <div class="w-[60%] pt-16 m-auto flex justify-between">
    <div>
      <span class="flex ml-2 text-white"
        ><svg
          xmlns="http://www.w3.org/2000/svg"
          width="24"
          height="24"
          viewBox="0 0 24 24"
          fill="none"
          stroke="currentColor"
          stroke-width="2"
          stroke-linecap="round"
          stroke-linejoin="round"
          class="feather feather-mai"
        >
          <path
            d="M4 4h16c1.1 0 2 .9 2 2v12c0 1.1-.9 2-2 2H4c-1.1 0-2-.9-2-2V6c0-1.1.9-2 2-2z"
          ></path>
          <polyline points="22,6 12,13 2,6"></polyline>
        </svg>
        <a
          href="mailto: beka.chkhartishvili1@gmail.com"
          class="ml-4 text-white underline"
          >beka.chkhartishvili1@gmail.com</a
        ></span
      >
      <span class="flex ml-2 text-white"
        ><svg
          xmlns="http://www.w3.org/2000/svg"
          width="24"
          height="24"
          viewBox="0 0 24 24"
          fill="none"
          stroke="currentColor"
          stroke-width="2"
          stroke-linecap="round"
          stroke-linejoin="round"
          class="feather feather-phone-call mt-4"
        >
          <path
            d="M15.05 5A5 5 0 0 1 19 8.95M15.05 1A9 9 0 0 1 23 8.94m-1 7.98v3a2 2 0 0 1-2.18 2 19.79 19.79 0 0 1-8.63-3.07 19.5 19.5 0 0 1-6-6 19.79 19.79 0 0 1-3.07-8.67A2 2 0 0 1 4.11 2h3a2 2 0 0 1 2 1.72 12.84 12.84 0 0 0 .7 2.81 2 2 0 0 1-.45 2.11L8.09 9.91a16 16 0 0 0 6 6l1.27-1.27a2 2 0 0 1 2.11-.45 12.84 12.84 0 0 0 2.81.7A2 2 0 0 1 22 16.92z"
          ></path>
        </svg>
        <a href="tel:+995555663040" class="mt-4 underline"
          ><span class="ml-4">555-66-30-40</span></a
        >
      </span>
      <span class="flex ml-2 text-white"
        ><svg
          xmlns="http://www.w3.org/2000/svg"
          width="24"
          height="24"
          viewBox="0 0 24 24"
          fill="none"
          stroke="currentColor"
          stroke-width="2"
          stroke-linecap="round"
          stroke-linejoin="round"
          class="feather feather-send mt-4"
        >
          <line x1="22" y1="2" x2="11" y2="13"></line>
          <polygon points="22 2 15 22 11 13 2 9 22 2"></polygon>
        </svg>
        <a href="sms:+995555663040" class="mt-4 underline"
          ><span class="ml-4">555-66-30-40</span></a
        >
      </span>
    </div>
    <div class="my-6 ml-[50%]">
      <button
        type="button"
        class="flex items-center px-3.5 py-2.5 border border-transparent text-xs font-medium rounded shadow-sm text-indigo-600 bg-white hover:bg-slate-100 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500"
      >
        DOWNLOAD CV
      </button>
    </div>
  </div>
  <div
    class="w-[60%] m-auto mt-8 pt-1 flex justify-center border-t-2 border-white"
  >
    <span class="text-white">&copy; 2022</span>
  </div>
</footer>
