<section class="w-[80%] m-auto">
  <div class="flex flex-row my-4 w-[60%] m-auto border-b-blue-600 border-b-2">
    <div class="my-4 m-auto">
      <h1 class="text-4xl my-4">Frontend Developer</h1>
      <img class="pl-6" src="../assets/images/mf-avatar.svg" />
      <div class="text-center mt-4 pr-8">
        <a
          href="https://drive.google.com/file/d/1ou1376UHi29zPcibRgIzbYzgzq4FKfCN/view?usp=sharing"
          target="_blank"
        >
          <button
            type="button"
            class="items-center px-3.5 py-2.5 border border-transparent text-xs font-medium rounded shadow-sm text-white bg-indigo-600 hover:bg-indigo-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500"
          >
            DOWNLOAD CV
          </button>
        </a>
      </div>
    </div>
  </div>
  <div class="mt-4">
    <img
      style="width: 100%; height: 400px"
      src="../assets/images/hero-devices.svg"
    />
  </div>
</section>
<section class="w-full h-96 bg-[#6e07f3]">
  <div class="w-[40%] m-auto">
    <div class="pt-16 text-white">
      <h1 class="text-4xl text-center pb-4">Hi, I’m Beka. Nice to meet you.</h1>
      <h2 class="text-xl">
        Since beginning my journey as a Developer over 1 years ago, consulted
        for startup, and and perpetually working on improving my chops on
        developer problem at a time.
      </h2>
    </div>
  </div>
</section>
<section
  class="w-[60%] m-auto border-2 rounded-lg h-[700px] -translate-y-1/4 bg-white"
>
  <div class="w-[50%] m-auto">
    <div class="w-[20%] m-auto my-4">
      <img
        src="../assets/images/images.png"
        style="width: 100px; height: 100px"
      />
    </div>
    <div class="py-4">
      <h1 class="text-3xl text-center my-2">Frontend Developer</h1>
      <p class="text-center">
        I like to code things from scratch, and enjoy bringing ideas to life in
        the browser.
      </p>
    </div>
    <div class="my-4">
      <p class="text-lg text-[#6e07f3] text-center mb-2">Languages I Speak:</p>
      <p class="text-center">
        Georgian(Native) , English(B1-B2) , Russian(A2-B1)
      </p>
    </div>
    <div class="my-4">
      <p class="text-lg text-[#6e07f3] text-center mb-2">Skills:</p>
      <p class="text-center">
        HTML, CSS, Sass, Javascript , Typescript , Angular , Git
      </p>
    </div>
    <div>
      <p class="text-lg text-[#6e07f3] text-center">Developer Tools:</p>
      <ul class="text-center leading-6">
        <li>Bootstrap</li>
        <li>Github</li>
        <li>Tailwind</li>
        <li>Terminal</li>
      </ul>
    </div>
  </div>
</section>

<section class="w-[60%] m-auto flex justify-between">
  <div class="grid grid-cols-3 gap-4 my-4">
    <div>
      <img class="rounded-xl" src="../assets/images/burkettandco.png" />
      <p class="text-center">
        A powerful, easy-to-configure form backend for designers and developers.
      </p>
    </div>

    <div class="box">
      <img class="rounded-xl" src="../assets/images/chronicled.png" />
      <p class="text-center">
        Short, focused design and growth collabs for startup tech founders.
      </p>
    </div>
    <div>
      <div class="box">
        <img class="rounded-xl" src="../assets/images/coupal.png" />
        <p class="text-center py-2">
          Intelligent API solution for automatic spam protection without the
          manual work.
        </p>
      </div>
    </div>
    <div>
      <div class="box">
        <img class="rounded-xl" src="../assets/images/glcsolutions.png" />
        <p class="text-center py-2">
          A people-friendly content publishing platform that integrates with any
          tech stack.
        </p>
      </div>
    </div>
    <div
      class="column is-12-touch is-half-desktop is-one-third-widescreen level-item"
    >
      <div class="box">
        <img class="rounded-xl" src="../assets/images/wedlerengineering.png" />
        <p class="text-center py-2">
          Next level plug and play chassis systems for custom DIY lightsaber
          builds.
        </p>
      </div>
    </div>
    <div
      class="column is-12-touch is-half-desktop is-one-third-widescreen level-item"
    >
      <div class="box">
        <img class="rounded-xl" src="../assets/images/wfdesignbuild.png" />
        <p class="text-center py-2">
          Simple feedback and engagement tools that help teams ship winning
          products.
        </p>
      </div>
    </div>
    <div
      class="column is-12-touch is-half-desktop is-one-third-widescreen level-item"
    >
      <div class="box">
        <img class="rounded-xl" src="../assets/images/mentorship.svg" />
        <p class="text-center py-2">
          Human-crafted logos and brand assets for startups and indie hacker
          projects.
        </p>
      </div>
    </div>
    <div
      class="column is-12-touch is-half-desktop is-one-third-widescreen level-item"
    >
      <div class="box">
        <img class="rounded-xl" src="../assets/images/wedlerengineering.png" />
        <p class="text-center py-2">
          A space and member management solution for coworking communities.
        </p>
      </div>
    </div>
    <div>
      <div class="box">
        <img class="rounded-xl" src="../assets/images/chronicled.png" />
        <p class="text-center py-2">
          A collaborative tool for creating simple, effective user personas.
        </p>
      </div>
    </div>
  </div>
</section>
